body {
  margin-top: 100px;
  background-image: url("employeei.avif");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(11,11,11,0.5),rgba(10,10,10,0.5),url("employeei.avif"));
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginForm
{
  background-color: opacity(0.5);
  color:white;
  
}

.employee
{
  height: 50px;
  width:50px;
  border-radius: 25px;
}

.profile
{
  height:150px;
  width:150px;
  border-radius: 75px;
}

.loginpage{
  background-image: url("employeei.avif");
}

.dashboard{
  background-image: none;
}